
/* Additional styles for better readability */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #E2E8FD;
}

h1,
h2 {
    color: blue;
}

p {
    margin-bottom: 10px;
}

ul {
    padding-left: 20px;
}
#title{
   font-weight: bolder; 
}
